@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	background: linear-gradient(to right, #98FB98, #87CEEB);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Style page connexion */

.login-card{
	width: 450px;
	background: rgba(255, 255, 255, .5);
	padding: 4rem;
	border-radius: 10px;
	position: relative;
}

.login-card::before{
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, .15);
	inset: 0;
	transform: rotate(-5deg);
	z-index: -1;
}

.login-card-logo{
	margin-bottom: 2rem;
}

.login-card-logo img{
	width: 60px;
}

.login-card-logo,
.login-card-header,
.login-card-footer{
	text-align: center;
}

.login-card a{
	text-decoration: none;
	color: #0000CD;
}

.login-card a: hover{
	text-decoration: underline;
}

.login-card-header{
	margin-bottom: 2rem;
}

.login-card-header h1{
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: .5rem;
}

.login-card-header h1+div{
	font-size: calc(1rem*.8);
	opacity: .8;
}

.login-card-form{
	display: flex;
	flex-direction: column;
	gap : 1.5rem;
}

.login-card-form .form-item{
	position: relative;
}

.login-card-form .form-item .form-item-icon{
	position: absolute;
	top: .82rem;
	left: 1.4rem;
	font-size: 1.3rem;
	opacity: .4;
}

.login-card-form .checkbox{
	display: flex;
	align-items: center;
	gap: 7px;
}

.login-card-form .form-item-other{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(1rem*.8);
	margin-bottom: .5rem;
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"]{
	border: none;
	outline: none;
	background: rgba(255, 255, 255, .3);
	padding: 1rem 1.5rem;
	padding-left: calc(1rem*3.5);
	border-radius: 100px;
	width: 100%;
	transition: background .5s;
}

.login-card input:focus{
	background: white;
}

.login-card input[type="checkbox"]{
	width: 16px;
	height: 16px;
	accent-color: black;
}

.login-card-form button{
	background: black;
	color: white;
	padding: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
}

.login-card-form button:hover{
	background: rgba(0, 0, 0, .85);
	cursor: pointer;
}

.home-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.ahref {
	text-align: center;
	font-size: calc(1rem*.8);
}

@media (max-width: 768px){

	body {
		padding: 2rem 0;
	}

	.login-card{
		width: 300px;
		padding: 2rem;
	}
}

/* Style page inscription */

.center{
	width: 450px;
	background: rgba(255, 255, 255, .5);
	padding: 4rem;
	border-radius: 10px;
	position: relative;
}

.center::before{
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, .15);
	inset: 0;
	transform: rotate(-5deg);
	z-index: -1;
}

.center{
	margin-bottom: 2rem;
}

.center h1{
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: .5rem;
}

.center h1+div{
	font-size: calc(1rem*.8);
	opacity: .8;
}

.center a{
	text-decoration: none;
	color: #0000CD;
}

.center a: hover{
	text-decoration: underline;
}

.center{
	margin-bottom: 2rem;
}

.center img{
	width: 60px;
}

.table input{
	border: none;
	outline: none;
	background: rgba(255, 255, 255, .3);
	padding: 1rem 1.5rem;
	padding-left: calc(1rem*3.5);
	border-radius: 100px;
	width: 100%;
	transition: background .5s;
}

.table input:focus{
	background: white;
}

.tel input{
	border: none;
	outline: none;
	background: rgba(255, 255, 255, .3);
	padding: 1rem 1.5rem;
	padding-left: calc(1rem*3.5);
	border-radius: 100px;
	width: 100%;
	transition: background .5s;
}

.tel input:focus{
	background: white;
}

.tel button{
	background: black;
	color: white;
	padding: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
}

.tel button:hover{
	background: rgba(0, 0, 0, .85);
	cursor: pointer;
}

/* Style page accueil */

:root {

  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  --radius: 0.2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.nav-list {
  background: white;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 3rem;
}

.nav-item span{
	margin-right: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.btn-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  background: var(--clr-primary-hover);
}

/* Style page mdp oublié */



/* Style page choix bts */

.center{
	width: 450px;
	background: rgba(255, 255, 255, .5);
	padding: 4rem;
	border-radius: 10px;
	position: relative;
}

.center::before{
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, .15);
	inset: 0;
	transform: rotate(-5deg);
	z-index: -1;
}

.bts-form select{
	width: 100%;
	height: 25px;
	position: relative;
	overflow-y: auto;
	border-radius: 50px;
}

.bts-form select:hover{
	background: rgba(248, 248, 255, .85);
	cursor: pointer;
}

.bts-form option{
	background-color: rgb(248, 248, 255);
	text-align: center;
}

.bts-form button{
	background: black;
	color: white;
	padding: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
}

.bts-form button:hover{
	background: rgba(0, 0, 0, .85);
	cursor: pointer;
}

/* Style page choix épreuve */

.epreuve-form select{
	width: 100%;
	height: 25px;
	position: relative;
	overflow-y: auto;
	border-radius: 50px;
}

.epreuve-form select:hover{
	background: rgba(248, 248, 255, .85);
	cursor: pointer;
}

.epreuve-form option{
	background-color: rgb(248, 248, 255);
	text-align: center;
}

.epreuve-form button{
	background: black;
	color: white;
	padding: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
}

.epreuve-form button:hover{
	background: rgba(0, 0, 0, .85);
	cursor: pointer;
}

/* Style page saisie notes */

.center1{
	width: 800px;
	background: rgba(255, 255, 255, .5);
	padding: 4rem;
	border-radius: 10px;
	position: relative;
}

.center1::before{
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, .15);
	inset: 0;
	transform: rotate(-5deg);
	z-index: -1;
}

.center .saisie-form table{
	text-align: center;
}
.saisie-form table{
	width: 100%;
	height: 25px;
	position: relative;
	overflow-y: auto;
	border-radius: 50px;
}

.saisie-form button{
	background: black;
	color: white;
	padding: 1rem;
	border-radius: 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: background .5s;
}

.saisie-form button:hover{
	background: rgba(0, 0, 0, .85);
	cursor: pointer;
}